body {
height: 600px;
width: 600px;
display: relative;
background-image: url('oldmap1.jpg');
background-repeat: no-repeat;

}


.board {
  margin: 1rem auto;
}

div {
  width: 16%;
  height: 16%;
  float: right;
  margin: 2px;
  border: solid black;
  color: gold;
}

.pi {
background-color: red;
font-size: 5em;
text-align: center;


}

.bluepi {
  background-color: blue;
  font-size: 5em;
  text-align: center;

}

h1 {
position: absolute;
font-size: 3em;
font-family: fantasy;
color: red;
left: -.5%;
top: 7em;
margin-left: 2em;
}


h2 {
position: absolute;
font-size: 6em;
font-family: fantasy;
color: red;
top: 2em;
margin-left: 1em;
}


.clearfix::after {
  display: block;
  clear: both;
  content: "";
}


.instructions {
position: relative;;
height: 80%;
width: 80%;
background-color: rgba(0, 0, 0, 0.6);
color: white;
font-family: sans-serif;
font-size: 1.5em;
text-align: center;
margin: 10%;


}

p {
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;


}
