body {
height: 600px;
width: 600px;
display: relative;

}


.board {
  margin: 1rem auto;
}

div {
  width: 16%;
  height: 16%;
  float: right;
  margin: 2px;
  border: solid black;
}

.pi {
background-color: red;
font-size: 5em;
text-align: center;


}

.bluepi {
  background-color: blue;
  font-size: 5em;
  text-align: center;

}



.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
